<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Películas Favoritas</h5>
          <p class="card-text">Ver tu lista de películas favoritas.</p>
          <button class="btn btn-primary" (click)="navigateToMovies()">Ver Películas</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Series Favoritas</h5>
          <p class="card-text">Ver tu lista de series favoritas.</p>
          <button class="btn btn-primary" (click)="navigateToSeries()">Ver Series</button>
        </div>
      </div>
    </div>
  </div>
</div>