<div class="actors d-flex row">
    <app-menu-lateral class="col-2"></app-menu-lateral>
    <div class="listado col-9">
        <app-menu-list></app-menu-list>
        <div class="listado-pelis">
            @for (actor of listadoActores; track actor.id){
            <a [routerLink]="['/actores', actor.id]">
                <div class="card card-actor"
                    [ngStyle]="{'background': 'no-repeat center/cover url(' + getFullImagePath(actor?.profile_path || '') + ')'}">
                    <div class="text-card">
                        <h3 class="ms-4">{{actor.name}}</h3>
                        <div class="detalles d-flex gap-4 ms-4 mb-3">
                            <p id="gender"></p>
                        </div>
                    </div>
                </div>
            </a>
            }
        </div>
        <div class="d-flex justify-content-center align-items-center gap-5">
            @if(page>2){
            <div class="inicio">
                <button class="paginacion" (click)="getPaginaUno()">Volver al inicio</button>
            </div>
            }
            @if(page > 1) {
            <button class="paginacion" (click)="getLastPage()"><i class="bi bi-caret-left-fill"></i></button>
            <button class="paginacion fs-3" (click)="getLastPage()">{{page-1}}</button>
            }
            <button class="paginacion fs-1">{{page}}</button>
            <button class="paginacion fs-3" (click)="getNextPage()">{{page+1}}</button>
            <button class="paginacion" (click)="getNextPage()"><i class="bi bi-caret-right-fill"></i></button>
        </div>
    </div>
</div>