<app-menu></app-menu>
<div class="banner" [ngStyle]="{'background': 'no-repeat center/cover url(' + bannerImg() + ')'}">
    <div class="text">
        @if (isLoggedIn()) {
        <div class="d-flex justify-content-start align-items-start gap-3">
            <img [src]="verificarImg()" alt="avatar" class="avatar" />
            <p class="username">{{userName}}</p>
        </div>
        }

    </div>
</div>

<div class="content d-flex row">
    <div class="mislistas col-9">
        <div class="title d-flex">
            <i class="bi bi-list-ul"></i>
            <h1>Mis listas</h1>
        </div>
        <div class="content-list">
            @if(misListas.length === 0){
            <div class="card null-card">
                    <p>No ha creado todavia una lista</p>
                    <button (click)="createList()" class="createList d-flex gap-2"><i class="bi bi-plus-circle"></i>Crear lista</button>
            </div>
            }@else{
                @for (list of misListas; track list.id) {
                    <div class="listas">
                        <p>{{list.name}}</p>
                        <p>{{list.description}}</p>
                        <button (click)="deleteList(list.id)"> borrar</button>
                    </div>
                }
            }
        </div>
    </div>
    <div class="right-menu">
        <!--Menu lateral-->
    </div>
</div>