<app-menu></app-menu>
<div class="container">
  <div class="header">
    <div class="image">
      <img [src]="getImgUrl(film?.poster_path || '')" alt="NOMBRE">
    </div>
    <div class="description">
      <div class="title1">
        <h2>{{film?.original_title}}</h2>
      </div>
      <div>
        <p class="title2" *ngIf="film?.tagline">{{ film?.tagline }}</p>
      </div>
      <div>
        <div>
          <p>{{film?.overview}}</p>
        </div>
        <div>
          <p><strong> Duración: {{film?.runtime}} min </strong></p>
        </div>
        <div>
          <p><strong> Lanzamiento: {{film?.release_date}} </strong></p>
        </div>
        <div>
          <p><strong> Calificación: ({{ film?.vote_average }} / 10) </strong> <ngb-rating class="amarillo"
              [(rate)]="rating" [max]="5" [readonly]="true"></ngb-rating> </p>
        </div>
        <div>
          <div class="user-rating">
            <h3>Tu calificación:</h3>
            <p *ngIf="userRating > 0; else noRating"></p>
            <ng-template #noRating>
              <p>Aún no has calificado esta película.</p>
            </ng-template>
          </div>

          <!-- Botones para calificar -->
          <div>
            <div class="rating-stars">
              <span *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index" class="star"
                [class.filled]="star <= userRating" (click)="saveRating(star)">
                ★
              </span>
            </div>
          </div>
        </div>
        
        <div>
          @for (item of film?.genres; track $index) {
          <div class="badge" href="#">
            {{item.name}}
            <span></span>
          </div>
          }
        </div>
        <div>
          <button class="watch-now btn btn-primary align-items-center justify-content-beetwen "
            (click)="watchTrailer()">Ver Trailer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección del reparto -->
  <div class="reparto-container">
    <div class="title2"> Reparto </div>
    <div class="card-grid">

      @for (credits of listCast; track listCast.indexOf(credits)) {
      <div class="card" *ngIf="credits.profile_path && credits.name">
        <a [routerLink]="['/actores', credits.id]">
          <img [src]="getImgUrl(credits.profile_path || '')" alt="NOMBRE">
          <div class="card-text">
            <p>{{credits.name}}</p>
          </div>
        </a>
      </div>
      }
    </div>

  </div>
</div>