<div class="container">
  <div class="title1">
    <h2>{{film?.original_title}}</h2>
  </div>
  <div class="header">
    <div class="image">
      <img [src]="getImgUrl(film?.poster_path || '')" alt="NOMBRE">
    </div>
    <div class="description">
      <p>{{film?.overview}}
      </p>
    </div>
  </div>

  <button class="button" (click)="watchTrailer()">Ver Trailer</button>




  <!-- Sección del reparto -->
  <div class="reparto-container">
    <div class="card-grid">
      <!-- @for (credits of listCast ; track listCast.indexOf(credits)) {

        <img [src]="getImgUrl(credits?.profile_path || '')">
        <p>{{credits.name}}</p>

        } -->
      @for (credits of listCast; track listCast.indexOf(credits)) {

      <div class="card" *ngIf="credits.profile_path && credits.name">
        <img [src]="getImgUrl(credits?.profile_path || '')" alt="NOMBRE">
        <div class="card-text">
          <p>{{credits.name}}</p>
        </div>
      </div>
      }

    </div>

  </div>
</div>