:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
  width: 90%;
  max-width: 1800px;
  padding: 20px;
}

.guion {
  margin-top: 1em;
  background-color: white;
  border-radius: 10px;
  padding: 0.15rem;
}

/* Encabezado de la serie */
.header { 
  margin-top: 15px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.header h2 {
  font-size: 50px;
  margin: 0;
}

.title1 {
  margin-top: 0%;
  background-color: #2c2e46;
  border-radius: 10px;
  padding: 0.5rem 2rem;  
  display: inline-block; 
  text-align: center; 
  margin-bottom: 1em; 
 

}

.title1 h2 {
  margin: 0; 
}


.title2 {
  background-color: #3e3e3e;
  margin-top: 0%;
  border-radius: 10px;
  padding: 0.25rem 1rem;  
  display: inline-block;  
  text-align: center;  
  margin-bottom: 1em; 
}

.image img {
  width: 505px;
  height: auto;
  border-radius: 5px; 
  margin-right: 50px;
}

.description {
  width: 90%;
  max-width: 1000px;
  padding: 20px;}

.description .title {
  font-weight: bold;
  color: #e0e0e0;
}

 
 
/* Diseño del reparto */


.reparto-container {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Tarjeta */
.card {
  position: relative;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
  height: 220px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Imagen */
.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgba(95, 95, 95, 0.5);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}


/*Cosas varias*/

.amarillo {
  color: #ffc107;  
  font-weight: bold;  
}

/*generos*/
.badge {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.5em;
  position: relative;
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #2637d4;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 999px;
   user-select: none;
}

/*verTrailer*/
.watch-now {
  margin-top: 1em;
  color: white;
  background-color: #2637d4;
  font-size: 25px;
  padding: 15px 80px 15px 0px;
  width: 300px;
  border-radius: 20px;
}
.ui-bookmark {
  --icon-size: 24px;
  --icon-secondary-color: rgb(77, 77, 77);
  --icon-hover-color: rgb(97, 97, 97);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.bookmark::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.bookmark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-bookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.ui-bookmark input:checked+.bookmark::after {
  -webkit-animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark input:checked+.bookmark {
  fill: var(--icon-primary-color);
  -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
  animation: bookmark var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-bookmark input:checked+.bookmark::before {
  -webkit-animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
.container-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-button {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: 4px;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked~svg {
  fill: #E3474F;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 0;
}

.favorite-button svg {
  width: 32px;
  height: 32px;
}

.favorite-button svg path {
  stroke-width: 2;
}

.favorite-button svg path[fill="none"] {
  stroke: black;
}

.favorite-button svg path[fill="red"] {
  stroke: none;
}

