<div class="menu d-flex justify-content-between">
    <div class="left-menu d-flex gap-4 text-white fs-4 mt-4 ms-4">
        <p><a routerLink="/peliculas">Peliculas</a></p>
        <p><a routerLink="/series">Series</a></p>
        <p><a routerLink="/actores">Actores</a></p>
    </div>
    <div class="right-menu d-flex gap-4 text-white fs-4 mt-4 ms-4">
        <i class="bi bi-search"></i>
        <i class="bi bi-bell-fill"></i>
        <i class="bi bi-circle-fill"></i>
        <p>Jei el</p>
    </div>
</div>