/* Estilos generales para el pie de página */
.footer {
  background-color: #101014;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 10;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}


.footer-section {
  width: 22%;
  padding: 10px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  color: #00dbde;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #ccc;
}