:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
  width: 90%;
  max-width: 1800px;
  padding: 20px;
}

.guion {
  margin-top: 2em;
  background-color: white;
  border-radius: 10px;
  padding: 0.15rem;
  margin-bottom: 1em  ;
}

/* Encabezado de la serie */
.header { 
  margin-top: 15px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.header h2 {
  font-size: 50px;
  margin: 0;
}

.title1 {
  margin-top: 0%;
  background-color: #2c2e46;
  border-radius: 10px;
  padding: 0.5rem 2rem;  
  display: inline-block; 
  text-align: center; 
  margin-bottom: 1em; 
 

}

.title1 h2 {
  margin: 0; 
}


.title2 {
  background-color: #3e3e3e;
  margin-top: 0%;
  border-radius: 10px;
  padding: 0.25rem 1rem;  
  display: inline-block;  
  text-align: center;  
  margin-bottom: 1em; 
}

.image img {
  width: 505px;
  height: auto;
  border-radius: 5px; 
  margin-right: 50px;
}

.description {
  width: 90%;
  max-width: 1000px;
  padding: 20px;}

.description .title {
  font-weight: bold;
  color: #e0e0e0;
}

button {
  margin-top: 1em;
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #2637d4;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
 

/* Diseño del reparto */


.reparto-container {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Tarjeta */
.card {
  position: relative;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
  height: 220px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Imagen */
.card-img {
  width: 245px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgba(95, 95, 95, 0.5);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}


/*Cosas varias*/

.amarillo {
  color: #ffc107;  
  font-weight: bold;  
}


/*generos*/
.badge {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.5em;
  position: relative;
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background:  linear-gradient(#FF9936, 80%, #b5620e) ;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 999px;
   user-select: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.customCheckBoxHolder {
  margin: 5px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: start; /* Center items horizontally */
}

.customCheckBox {
  width: 100%; /* Ensures each checkbox has the same width */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
}

.customCheckBox:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 18px;
  font-weight: 900;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

.customCheckBoxWrapper {
  width: 50%; /* Ensures each wrapper takes full width of the holder */
}

/* Multiple Checkboxes can be chained together for a radio input */
.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
  background-color: #2d6737;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
  background-color: #34723f;
  box-shadow:
    rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}

/* From Uiverse.io by cssbuttons-io */ 
button {
  appearance: button;
  background-color: #970e21;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
 }
 
 button:after {
  background-clip: padding-box;
  background-color: #FE1F3C;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 
 button:main, button:focus {
  user-select: auto;
 }
 
 button:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
 button:disabled {
  cursor: auto;
 }
 
 button:active:after {
  border-width: 0 0 0px;
 }
 
 button:active {
  padding-bottom: 10px;
 }