<app-menu></app-menu>
<div class="container">
  <div class="header">
    <div class="image">
      <img [src]="getImgUrl(seriesDetails?.poster_path || '')" alt="">
    </div>
    <div class="description">
      <div class="title1">
        <h2> {{ seriesDetails?.original_name }} </h2>
      </div>
      <div>
        <p class="title1" *ngIf="seriesDetails?.tagline">{{ seriesDetails?.tagline }}</p>
        <div>
          <p>{{seriesDetails?.overview}}</p>
        </div>
        <div>
          <p><strong> Lanzamiento: {{seriesDetails?.first_air_date}} </strong></p>
        </div>
        <div>
          <p><strong> Calificación: ({{ seriesDetails?.vote_average }} / 10) </strong> <ngb-rating class="amarillo"
              [(rate)]="rating" [max]="5" [readonly]="true"></ngb-rating> </p>
        </div>
        <div>
          <div class="user-rating">
            <h3>Tu calificación:</h3>
            <p *ngIf="userRatingS > 0; else noRating"></p>
            <ng-template #noRating>
              <p>Aún no has calificado esta película.</p>
            </ng-template>
          </div>

          <!-- Botones para calificar -->
          <div>
            <div class="rating-stars">
              <button class="delete"  (click)="deleteRatingS()">
                <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
              </button>
              <span *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index" class="star"
                [class.filled]="star <= userRatingS" (click)="saveRatingS(star)">
                ★
              </span>
            </div>
          </div>  
        </div>
        <div>
          @for (item of seriesDetails?.genres; track $index) {
          <div class="badge">
            {{item.name}}
            <span></span>
          </div>
          }
        </div>  
      </div>
    </div>
  </div>
  <hr class="guion">
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item" *ngFor="let season of seasons">
        <a class="nav-link" href="#" (click)="selectSeason($event, season)">
          Season {{ season.season_number }}
        </a>
      </li>
    </ul>
    <div *ngIf="selectedSeason">
      <div>
        @for (episode of selectedSeason.episodes; track selectedSeason.episodes.indexOf(episode)) {
        <div class="episode-card">
          <div class="episode-thumbnail">
            <img *ngIf="episode.still_path" [src]="getImgUrl(episode.still_path)" alt="{{ episode.name }}">
          </div>
          <div class="episode-info">
            <h6>{{ episode.episode_number }}. {{ episode.name }}</h6>
            <span>{{ episode.air_date }} | {{ episode.runtime }} minutos</span>
            <p>{{ episode.overview }}</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>