<div class="container">
    <div class="title1">
        <h2>Mejor llama a Saúl</h2>
    </div>
    <div class="header">
      <div class="image">
        <img src="https://helios-i.mashable.com/imagery/articles/00wQpr0rYLiR1q2nF10spfG/hero-image.fill.size_1248x702.v1623367884.jpg" alt="Saul Image">
      </div>
      <div class="description">
        <p class="title">Part of the journey is the end.</p>
        <p>Cuatro moñas juntos hacen una ganga, hay varios asuntos antes de tocar en una banda, salvo otro banger...</p>
      </div>
    </div>
  
    <hr class="guion">


    <!-- Temporadas y Episodios -->
    <div class="seasons">
      <h3>Temporada 1</h3>
      <div class="episode-card">
        <div class="episode-thumbnail">
          <img src="https://i.ytimg.com/vi/QqjnlQ55Jnw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBrJedK__03bPTySvwlDVPeX3R3iw" alt="Jesyy Thumbnail">
        </div>
        <div class="episode-info">
          <h4>1. JESYY</h4>
          <span>13 de noviembre 2024 | 20 minutos</span>
          <p>AAAAAAAAAAAAAA</p>
        </div>
      </div>
  
      <div class="episode-card">
        <div class="episode-thumbnail">
          <img src="https://i.ytimg.com/vi/QqjnlQ55Jnw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBrJedK__03bPTySvwlDVPeX3R3iw" alt="Los Pollos Thumbnail">
        </div>
        <div class="episode-info">
          <h4>2. Welcome tu Los Pollos Hermanos</h4>
          <span>13 de noviembre 2024 | 20 minutos</span>
          <p>Gonchita</p>
        </div>
      </div>
  
      <div class="episode-card">
        <div class="episode-thumbnail">
          <img src="https://i.ytimg.com/vi/QqjnlQ55Jnw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBrJedK__03bPTySvwlDVPeX3R3iw" alt="Hector Lavoe Thumbnail">
        </div>
        <div class="episode-info">
          <h4>3. Hector Lavoe</h4>
          <span>13 de noviembre 2024 | 23501 minutos</span>
          <p>Un día más mi gente pa pedirle al tiempo</p>
        </div>
      </div>
  
      <div class="episode-card">
        <div class="episode-thumbnail">
          <img src="https://i.ytimg.com/vi/QqjnlQ55Jnw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBrJedK__03bPTySvwlDVPeX3R3iw" alt="Levi Thumbnail">
        </div>
        <div class="episode-info">
          <h4>4. Echen a Victor del grupo</h4>
          <span>13 de noviembre 2024 | 20 minutos</span>
          <p>Por favor echen a Victor</p>
        </div>
      </div>
    </div>
  </div>
  
