<div class="menu-lateral" [ngStyle]="{'height': altura+ 'px'}">
    <div class="titulo d-flex align-items-center justify-content-center text-white">
        <img class="logo" src="https://i.ibb.co/3hhHdyH/Peliculillas-removebg-preview-1.png"
            alt="Peliculillas-removebg-preview-1">
        <a routerLink="/principal">
            <div class="text d-flex gap-0 align-items-end justify-content-center mb-4">
                <h2 class="text-white mb-1 fs-3">Peliculi</h2>
                <h1 class="text-danger mb-0">Ya!</h1>
            </div>
        </a>
    </div>
    <div class="menu d-flex row align-items-flex justify-content-start text-white gap-4">

        <div>
            @if (tipo=="peliculas") {
            <label for="orden1">Ordenar por:</label>
            <select id="orden1" #ordenSelectPeliculas>
                <option value="popularity.desc">Popularidad Descendente</option>
                <option value="popularity.asc">Popularidad Ascendente</option>
                <option value="vote_average.asc">Valoración Ascendente</option>
                <option value="vote_average.desc">Valoración Descendente</option>
            </select>
            <div class="col-6">
                <label for="genero">Género:</label>
                @for (genero of generos; track genero.id) {
                <div>
                    <input type="checkbox" id="genero{{genero.id}}" [value]="genero.id"
                        (change)="toggleGenre(genero.id)">
                    <label for="genero{{genero.id}}">{{genero.name}}</label>
                </div>
                }
            </div>
            <button (click)="buscar(ordenSelectPeliculas.value, currentPage)">Buscar</button>
            }
        </div>

        <div>
            @if (tipo=="series") {
            <label for="orden2">Ordenar por:</label>
            <select id="orden2" #ordenSelectSeries>
                <option value="popularity.asc">Popularidad Ascendente</option>
                <option value="popularity.desc">Popularidad Descendente</option>
                <option value="vote_average.asc">Valoración Ascendente</option>
                <option value="vote_average.desc">Valoración Descendente</option>
            </select>
            <div>
                <label for="genero">Género:</label>
                @for (genero of generos; track genero.id) {
                <div>
                    <input type="checkbox" id="genero{{genero.id}}" value="{{genero.id}}"
                        (change)="toggleGenre(genero.id)">
                    <label for="genero{{genero.id}}">{{genero.name}}</label>
                </div>
                }
            </div>
            <button (click)="buscar(ordenSelectSeries.value, currentPage)">Buscar</button>
            }
        </div>
    </div>