<div class="menu-lateral" [ngStyle]="{'height': altura+ 'px'}">
    <div class="titulo d-flex align-items-center justify-content-center text-white">
        <img class="logo" src="https://i.ibb.co/3hhHdyH/Peliculillas-removebg-preview-1.png"
            alt="Peliculillas-removebg-preview-1">
        <a routerLink="/principal">
            <div class="text d-flex gap-0 align-items-end justify-content-center mb-4">
                <h2 class="text-white mb-1 fs-3">Peliculi</h2>
                <h1 class="text-danger mb-0">Ya!</h1>
            </div>
        </a>
    </div>
    <div class="menu d-flex row align-items-flex justify-content-start text-white gap-4">
        @if (tipo === 'peliculas') {
        <div>
            <div>
                <label for="orden1">Ordenar por:</label>
                <select id="orden1" #ordenSelectPeliculas>
                    <option value="popularidadDescendente">Popularidad Descendente</option>
                    <option value="popularidadAscendente">Popularidad Ascendente</option>
                    <option value="valoracionAscendente">Valoración Ascendente</option>
                    <option value="valoracionDescendente">Valoración Descendente</option>
                </select>
            </div>
            <div>
                @for (genero of generos; track genero.id) {
                <input type="checkbox" id="genero{{genero.id}}" value="{{genero.id}}" (change)="toggleGenre(genero.id)">
                <label for="genero{{genero.id}}">{{genero.name}}</label>
                }
            </div>
            <button (click)="ordenarPeliculas(ordenSelectPeliculas.value)">Buscar</button>

        </div>
        }@if (tipo === 'series') {
        <div>
            <div>
                <label for="orden2">Ordenar por:</label>

                <select id="orden2" #ordenSelectSeries>
                    <option value="popularidadDescendente">Popularidad Descendente</option>
                    <option value="popularidadAscendente">Popularidad Ascendente</option>
                    <option value="valoracionAscendente">Valoración Ascendente</option>
                    <option value="valoracionDescendente">Valoración Descendente</option>
                </select>
            </div>
            <div>
                @for (genero of generos; track genero.id) {
                <input type="checkbox" id="genero{{genero.id}}" value="{{genero.id}}" (change)="toggleGenre(genero.id)">
                <label for="genero{{genero.id}}">{{genero.name}}</label>
                }
            </div>

            <button (click)="ordenarSeries(ordenSelectSeries.value)">Buscar</button>
        </div>
        }@else {
<div></div>
        }

    </div>
</div>