<app-menu></app-menu>
<div class="banner" [ngStyle]="{'background': 'no-repeat center/cover url(' + bannerImg() + ')'}">
  <div class="text">
    @if (isLoggedIn()) {
    <div class="d-flex justify-content-start align-items-start gap-3">
      <img [src]="verificarImg()" alt="avatar" class="avatar" />
      <p class="username">{{userName}}</p>
    </div>
    }

  </div>
  <app-menu-right></app-menu-right>
</div>
<div class="container">
  <h2 class="title text-white">Películas Puntuadas</h2>
  <div *ngIf="ratedMovies.length > 0; else noRatings" class="peliculas">
    <div class="movies-list">
      <div class="card-pelicula" *ngFor="let film of ratedMovies">
        <a routerLink="/movies/{{ film.id }}" class="card-link">
          <div style="display: flex; align-items: center;">
            <div style="margin-right: 15px;">
              <img [src]="getImgUrl(film.poster_path)" alt="{{ film.title }}" />
            </div>
            <div class="text text-white">
              <h5>{{ film.title }}</h5>
              <p><strong>Calificación:</strong> {{ film.rating }} / 10</p>
              <p><strong>Fecha:</strong> {{ film.release_date }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Controles de paginación -->
    <div class="pagination-controls" style="text-align: center; margin-top: 20px;">
      <button
        class="button"
        [disabled]="currentPage === 1"
        (click)="changePage(currentPage - 1)">
        Anterior
      </button>
      <span class="pagination-info text-white">Página {{ currentPage }} de {{ totalPages }}</span>
      <button
        class="button"
        [disabled]="currentPage === totalPages"
        (click)="changePage(currentPage + 1)">
        Siguiente
      </button>
    </div>
  </div>

  <ng-template #noRatings>
    <p class="content">No has puntuado ninguna película aún.</p>
  </ng-template>
</div>
