<div class="container">
    <div class="title1">
      <h2>NOMBRE DE LA PERSONA</h2>
    </div>
  
    <div class="header">
      <div class="image">
        <img src="https://content.imageresizer.com/images/memes/where-monkey-meme-58eyvu.jpg" alt="Nombre de la Persona" />
      </div>
      <div class="description">
        <p class="title">BIOGRAFÍA</p>
        <p>DESCRIPCIÓN DETALLADA SOBRE LA PERSONA. Aquí puedes incluir información biográfica o algún detalle adicional relevante.</p>
      </div>
    </div>
  
   
    <!-- Trabajos-->
    <div class="reparto-container">
      <h2>Trabajos</h2>
      <div class="card-grid">
        <!--Peliculas o seriees-->
        <div class="card">
          <p class="card-text">Fecha de Nacimiento: 01/01/1980</p>
          <img src="ruta-a-imagen-7.jpg" alt="Manuel (Hermano de luu)" class="card-image" />
        </div>
    </div>
  </div>
