<div class="container">
  <div class="title1">
    <h2>{{ person?.name }}</h2>
  </div>

  <div class="header">
    <div class="image">
      <img [src]="getImgUrl(person?.profile_path || '')" alt="Nombre de la Persona" />
    </div>
    <div class="description">
      <p>{{person?.biography}}</p>
    </div>
  </div>


  <!-- Trabajos-->
  <!-- <div class="reparto-container">
    <div class="card-grid">
      @for (credits of listCast; track listCast.indexOf(credits)) {
      <div class="card">
        <img *ngIf="credits.original_title" [src]="getImgUrl(credits.poster_path || '')">
        <p>{{credits.original_title}}</p>
      </div>
      }
    </div>
  </div> -->
  <div class="reparto-container">
    <div class="card-grid">
      @for (credits of listCast; track listCast.indexOf(credits)) {
      <div class="card" *ngIf="credits.poster_path && credits.original_title">
        <img [src]="getImgUrl(credits.poster_path)" alt="{{ credits.original_title }}" />
        <div class="card-text">
          <p>{{ credits.original_title }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>