<div class="films d-flex row">

    <app-menu-lateral class="col-2"></app-menu-lateral>
    <div class="listado col-9">
        <app-menu-list></app-menu-list>
        <div class="listado-pelis">
            @for (peli of listadoPeliculas; track peli.id) {
                <div class="card card-serie" [ngStyle]="{'background': 'no-repeat center/cover url(' + getFullImagePath(peli?.poster_path || '') + ')'}">
                    <div class="valoracion-serie" [ngStyle]="getColor({ valoracion: peli.vote_average })">
                        <h2 class="text-white">{{peli.vote_average | roundedVote}}</h2>
                    </div>
                    <div class="text-card">
                        <h3 class="ms-4">{{peli.title}}</h3>
                        <div class="detalles d-flex gap-4 ms-4 mb-3">
                            <p id="fecha">{{peli.release_date}}</p>
                            <p>|</p>
                            <p id="temporadas">{{getFirstGenreName(peli.genre_ids)}}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>