<div class="favourite-films">
  <h1>Favourite Films</h1>
  <div class="films-list">
    <div *ngFor="let film of favouriteFilms" class="film-card">
      <img [src]="getFullImagePath(film.poster_path)" alt="{{ film.title }}">
      <h3>{{ film.title }}</h3>
      <p>{{ film.release_date }}</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center gap-5">
 

  <div class="d-flex justify-content-center align-items-center gap-5">
    <button *ngIf="page > 1" class="paginacion" (click)="getPreviousPage()">Página anterior</button>
    <button *ngIf="page < totalPages" class="paginacion" (click)="getNextPage()">Siguiente página</button>
  </div>