<div class="favourite-films">
  <h1>Favourite Films</h1>
  <div class="films-list">
    <div *ngFor="let film of favouriteFilms" class="film-card">
      <img [src]="getFullImagePath(film.poster_path)" alt="{{ film.title }}">
      <h3>{{ film.title }}</h3>
      <p>{{ film.release_date }}</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center gap-5">
  @if(page>2){
  <div class="inicio">
    <button class="paginacion" (click)="getPaginaUno()">Volver al inicio</button>
  </div>
  }

  @if(page > 1) {
  <button class="paginacion" (click)="getLastPage()"><i class="bi bi-caret-left-fill"></i></button>
  <button class="paginacion fs-3" (click)="getLastPage()">{{page-1}}</button>
  }
  <button class="paginacion fs-1">{{page}}</button>
  <button class="paginacion fs-3" (click)="getNextPage()">{{page+1}}</button>
  <button class="paginacion" (click)="getNextPage()"><i class="bi bi-caret-right-fill"></i></button>
</div>