<div class="menu">
    <nav id="navbar" class="navbar justify-content-beetwen">
        <div class="left-menu d-flex align-items-center">
            <a routerLink="/principal">
                <img class="logo" src="https://i.ibb.co/3hhHdyH/Peliculillas-removebg-preview-1.png"
                    alt="Peliculillas-removebg-preview-1">
            </a>
            <ul class="list-menu d-flex">
                <li><a routerLink="/peliculas">Peliculas</a></li>
                <li><a routerLink="/series">Series</a></li>
                <li><a routerLink="/actores">Actores</a></li>
            </ul>
        </div>
        <div class="right-menu d-flex align-items-center">
            <i class="bi bi-search"></i>
            <p class="btn border rounded-circle bg-white py-3 text-white">logo</p>
            <p id="nombre-usuario">Jei El</p>
        </div>

    </nav>
</div>