@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar{
    color: white;
    background-color: black;
}

.list-menu{
    gap: 40px;
    list-style: none;
    font-size: 30px;
}

.left-menu{
    margin: 10px 0px 0px 20px;
}

.right-menu{
    margin: 10px 60px 0px 0px;
    gap: 40px;
    font-size: 30px;
}

.right-menu i{
    margin-bottom: 10px;
}

#nombre-usuario{
    font-size: 15px;
}