<div class="menu">
    <nav class="navbar justify-content-beetwen">
        <div class="left-menu d-flex align-items-center">
            <p class="btn border rounded-circle bg-white py-3 text-white">logo</p>
            <ul class="list-menu d-flex">
                <li>Movies</li>
                <li>Series</li>
                <li>Actors</li>
            </ul>
        </div>
        <div class="right-menu d-flex align-items-center">
            <i class="bi bi-search"></i>
            <p class="btn border rounded-circle bg-white py-3 text-white">logo</p>
            <p id="nombre-usuario">Jei El</p>
        </div>

    </nav>
</div>
