<div class="menu-right text-white">
    <a routerLink="/favorites">
        <div class="favoritos">
            <i class="bi bi-heart-fill"></i>
            <h1>Favoritos</h1>
        </div>
    </a>
    <a routerLink="/misListas">
        <div class="misListas">
            <i class="bi bi-box-seam-fill"></i>
            <h1>mis listas</h1>
        </div>
    </a>
    <a routerLink="/ratingMenu">
        <div class="valoraciones">
            <i class="bi bi-star-fill"></i>
            <h1>Valoraciones</h1>
        </div>
    </a>
    <a routerLink="/watchlist">
        <div class="whachtList">
            <i class="bi bi-film"></i>
            <h1>whachtList</h1>
        </div>
    </a>
</div>